@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Ubuntu&display=swap');
:root{
    --icon-color-before: #737880;
    --icon-color-after: #F0F1F1;
}

body{
    margin: 0%;
    width: 100%;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;

}
.box {
    display: inline-block;
    border-radius: 20px;
    background-color: #202B3B;
}

#tile-container {
    margin: 10px 15px;
    width: 98%;
    height: 98vh;
    display: grid;
    gap: 15px 20px;
    grid-template-columns: 5% repeat(5,1fr);
    grid-template-rows: 5% 15% 15% 15% 15%;
}

.box:nth-child(1){
    /* background-color: pink; */
    grid-column-start: 1;
    grid-row: 1 / span 4;
}

.box:nth-child(2){
    /* background-color: orange; */
    grid-column: span 3;
    color: #e0e1e1; 
    font-weight: 400; 
    height:32px; 
    border:none; 
    padding-left: 15px; 
    outline: none; 
    font-size: 14px;
}

.box:nth-child(3) {
    /* background-color: blue; */
    height: 100%;
    position: relative;
    top: 0;
    grid-row: 2 / span 1;
    grid-column: 2/span 3;
    cursor: pointer;
}

.box:nth-child(4) {
    /* background-color: aqua; */
    height: 100%;
    grid-row: 3/ span 1;
    grid-column: span 3;
    cursor: pointer;
}

.box:nth-child(5) {
    /* background-color: lightgreen; */
    height: 100%;
    grid-row: 4/span 1;
    grid-column: 2/span 3;
    cursor: pointer;
}

.box:nth-child(6) {
    /* background-color: #ccc; */
    height: 100%;
    grid-row: 5/span 1;
    grid-column: 2/span 3;
    cursor: pointer;
}

.box:nth-child(7) {
    /* background-color: silver; */
    background-color: inherit;
    height: 100%;
    grid-row: 2/span 5;
    grid-column: 5/span 2;
}

/* Second Icon Styling inside the side menu panel */
#secIcon{
    color:var(--icon-color-before);
}

#secIcon:hover{
    color:var(--icon-color-after);
}

/* Third Icon Styling inside the side menu panel */

#thirdIcon{
    color:var(--icon-color-after);
}

#thirdIcon:hover{
    color:var(--icon-color-after);
}

/* Fourth Icon Styling inside the side menu panel */

#fourthIcon{
    color:var(--icon-color-before);
}

#fourthIcon:hover{
    color:var(--icon-color-after);
}

/* Fifth Icon Styling inside the side menu panel */

#fifthIcon{
    color: var(--icon-color-before);
}

#fifthIcon:hover{
    color: var(--icon-color-after);
}


.middlePane p{
    outline:none !important;
    border: none !important;
}


.menuPane {
    padding: 30px 10px;
    height: 70vh;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    gap: 30px;
    border-radius: 20px;
}

.icon {
    background: url('../Icons and Images/3d-weather-logo.png');
    height: 25px;
    width: 25px;
    display: block;
}

.mainImageIcon{
    width: 45%;
    height: 80%;
    background: url('../Icons and Images/weather-main-icons-sprite.png');
    background-repeat: no-repeat;
    background-position: -45px -80px;
}


#dataPane{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


.data:nth-child(1) {
    font-family: 'Libre Baskerville', serif;
    margin-top: 2px; margin-bottom: 0px;
    background-color: inherit;
    color: #F0F1F1;
    font-size: 30px;
    font-weight:650;
}

.data:nth-child(2) {
    font-family: 'Libre Baskerville', serif;
    margin: 0px 1.5px 3px;
    color: #8c929c;
    font-size: 11px;
    text-justify:kashida;
    font-weight: 550;
}

.data:nth-child(3) {
    font-family: 'Libre Baskerville', serif;
    color: #F0F1F1;
    margin-top: 40px;
    font-size: 40px;
    font-weight: 550;
}

#dailyForecast{
    color: #737880;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0px;
    padding-left: 0px;
    justify-content: space-evenly;
}

#dailyForecast li{
    font-size: 12px;
    display: inline-block;
    margin: 0%;
    text-align: center;
    width: calc(100%/3);
    height: 100%;
    border-right: 1px dashed gray;
}

.divSpans {
    color: whitesmoke;
    font-size: 14px;
    font-weight: 550;
}

.foreCastcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.forecastBox {
    background: url('../Icons and Images/weather-main-icons-sprite.png');
    width: 10rem;
    height: 6rem;
    margin-bottom: 1rem;
    background-repeat: no-repeat;
    background-position: -45px -80px;
}


















::-webkit-scrollbar{
    border-right: 5px solid inherit;
    background-color: rgba(116, 121, 129, 0);
    /* border:1px solid rgb(32, 43, 59); */
    width: .5rem;
    height: 80vh;
    border-radius: 100vw;
    margin-block: 1.5rem;
}

::-webkit-scrollbar-thumb{
    border-radius: 100vw;
    background-color: rgba(116, 121, 129, 0.7);
}

::-webkit-scrollbar:hover{
    /* border-right: 5px solid inherit; */
    background-color: rgba(116, 121, 129, 0);
}

::-webkit-scrollbar-track {
    border-right: 5px solid inherit;
    background-color: rgba(116, 121, 129, 0);
    /* border:1px solid rgb(32, 43, 59); */
    width: .5rem;
    border-radius: 100vw;
    margin-block: 1em;
}
